*.db
*.db-shm
*.db-wal
*.ini
*.log
*.orig
*.pyc
*.Rcheck/
.DS_Store
._.DS_Store
csv/
freeze/
plots/freeze/
Tables/freeze/
.git/
.gitattributes
.here
.httr-oauth
.owncloudsync.log
.Rhistory
.Rproj.user
.sublime-workspace
MSR/
.=.swp
.=.swo
hend,]
exchanges_sesa.sublime-workspace