*.db
*.db-shm
*.db-wal
*.ini
*.log
*.orig
*.pyc
*.Rcheck/
.DS_Store
._.DS_Store
csv/
freeze/
.git/
.gitattributes
.here
.httr-oauth
.owncloudsync.log
.Rhistory
.Rproj.user
._unip_inc.sublime-project
.sublime-workspace
unip_inc.sublime-workspace
MSR/
.=.swp
.=.swo
hend,]